In [3]:
#Installing all the required libraries
import numpy as np
import pandas as pd

In [5]:
#Import Data Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#Magic command - This performs the necessary behind-the-scenes setup for IPython to work correctly hand in hand with matplotlib
%matplotlib inline

In [26]:
#Import cufflinks as it binds Plotly directly to pandas dataframes
import cufflinks as cf
cf.go_offline()

In [25]:
#Import Plotly packages
import plotly
import plotly.graph_objs as go
import plotly.offline as offline
plotly.offline.init_notebook_mode(connected=True)

In [27]:
#Read the csv file as a pandas dataframe
data = pd.read_csv("Dataset_Kaggle.csv")

In [29]:
data.head(10) #Used to print the first n rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

In [31]:
data.shape

(110527, 14)

In [33]:
data.info() #gives all the information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [35]:
data.describe() #used to view some basic statistical details

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [38]:
#DATA PREPROCESSING
#RENAMING THE MISSPELT COLUMNS
data.rename(columns={'PatientId':'PatientID','Hipertension':'Hypertension','Handcap':'Handicap','SMS_received':'SMSReceived',
           'No-show':'NoShow'},inplace=True)

#Using rename with columns keyword creates a new dataframe, leaving the original df unchanged
#Using inplace = True lets us edit the original dataframe

In [41]:
data.head(10)

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

In [46]:
#HANDLING THE NULL VALUES
data.isnull()  #checked the data for null values and didn't find any!

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,False,False,False,False,False,False,False,False,False,False,False,False,False,False
110523,False,False,False,False,False,False,False,False,False,False,False,False,False,False
110524,False,False,False,False,False,False,False,False,False,False,False,False,False,False
110525,False,False,False,False,False,False,False,False,False,False,False,False,False,False
110526,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [54]:
#Correcting Inconsistencies in Data
#The datatypes of the variables in data are slightly inconsistent which can be handled

In [55]:
#The PatientID has data type of float which can be changed to int

data['PatientID']=data['PatientID'].astype('int64')

In [56]:
# Converting the datatype of the ScheduledDay and AppointmentDay column to datetime and ignoring the timestamps

data['ScheduledDay']=pd.to_datetime(data['ScheduledDay']).dt.date.astype('datetime64[ns]')
data['AppointmentDay']=pd.to_datetime(data['AppointmentDay']).dt.date.astype('datetime64[ns]')

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientID         110527 non-null int64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null datetime64[ns]
AppointmentDay    110527 non-null datetime64[ns]
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hypertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handicap          110527 non-null int64
SMSReceived       110527 non-null int64
NoShow            110527 non-null object
dtypes: datetime64[ns](2), int64(9), object(3)
memory usage: 11.8+ MB

In [59]:
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [61]:
# Unique values for ScheduledDay column
print("Unique Values in `ScheduledDay` => {}".format(np.sort(data.ScheduledDay.dt.strftime('%Y-%m-%d').unique())))

Unique Values in `ScheduledDay` => ['2015-11-10' '2015-12-03' '2015-12-07' '2015-12-08' '2015-12-14'
 '2015-12-15' '2016-01-04' '2016-01-05' '2016-01-07' '2016-01-11'
 '2016-01-13' '2016-01-14' '2016-01-19' '2016-01-20' '2016-01-21'
 '2016-01-22' '2016-01-25' '2016-01-26' '2016-01-27' '2016-01-28'
 '2016-01-29' '2016-02-01' '2016-02-02' '2016-02-03' '2016-02-04'
 '2016-02-05' '2016-02-11' '2016-02-12' '2016-02-15' '2016-02-16'
 '2016-02-17' '2016-02-18' '2016-02-19' '2016-02-22' '2016-02-23'
 '2016-02-24' '2016-02-25' '2016-02-26' '2016-02-29' '2016-03-01'
 '2016-03-02' '2016-03-03' '2016-03-04' '2016-03-05' '2016-03-07'
 '2016-03-08' '2016-03-09' '2016-03-10' '2016-03-11' '2016-03-14'
 '2016-03-15' '2016-03-16' '2016-03-17' '2016-03-18' '2016-03-19'
 '2016-03-21' '2016-03-22' '2016-03-23' '2016-03-28' '2016-03-29'
 '2016-03-30' '2016-03-31' '2016-04-01' '2016-04-05' '2016-04-06'
 '2016-04-07' '2016-04-08' '2016-04-09' '2016-04-11' '2016-04-12'
 '2016-04-13' '2016-04-14' '2016-04-15' '2016-04-16' '2016-04-18'
 '2016-04-19' '2016-04-20' '2016-04-25' '2016-04-26' '2016-04-27'
 '2016-04-28' '2016-04-29' '2016-04-30' '2016-05-02' '2016-05-03'
 '2016-05-04' '2016-05-05' '2016-05-06' '2016-05-07' '2016-05-09'
 '2016-05-10' '2016-05-11' '2016-05-12' '2016-05-13' '2016-05-14'
 '2016-05-16' '2016-05-17' '2016-05-18' '2016-05-19' '2016-05-20'
 '2016-05-24' '2016-05-25' '2016-05-30' '2016-05-31' '2016-06-01'
 '2016-06-02' '2016-06-03' '2016-06-04' '2016-06-06' '2016-06-07'
 '2016-06-08']

In [63]:
#We can see that the ScheduledDay spans for a period of 7 months from 2015-11-10 to 2016-06-08. This means that patients have scheduled the appointment from a long time

In [65]:
# Unique values for AppointmentDay column
print("Unique Values in `AppointmentDay` => {}".format(np.sort(data.AppointmentDay.dt.strftime('%Y-%m-%d').unique())))

Unique Values in `AppointmentDay` => ['2016-04-29' '2016-05-02' '2016-05-03' '2016-05-04' '2016-05-05'
 '2016-05-06' '2016-05-09' '2016-05-10' '2016-05-11' '2016-05-12'
 '2016-05-13' '2016-05-14' '2016-05-16' '2016-05-17' '2016-05-18'
 '2016-05-19' '2016-05-20' '2016-05-24' '2016-05-25' '2016-05-30'
 '2016-05-31' '2016-06-01' '2016-06-02' '2016-06-03' '2016-06-06'
 '2016-06-07' '2016-06-08']

In [66]:
#However, the above results show that the Appointment days onyl span for a period of just above 1 month. This means that the patients booked their appointments well in advance (over 6-7 months prior) as the Scheduled Day spanas over a period of 7 months whereas Appointment Day spans over a period of 1 month

In [84]:
#Calculating Day of the Week from the ScheduledDay and AppointmentDay columns to analyse the number of NoShows over the weekend

data['ScheduledDayoftheWeek']=data['ScheduledDay'].dt.weekday_name
data['AppointmentDayoftheWeek']=data['AppointmentDay'].dt.weekday_name

In [73]:
#Checking whether the AppointmentDay is after ScheduledDay
#If the AppointmentDay is before ScheduledDay, this means that the appointment was scheduled after the appointment which does not make any sense 
#This means that the data is incorrect

data['WaitingDays']=data['AppointmentDay']-data['ScheduledDay']
data['WaitingDays']=data['WaitingDays'].dt.days

In [81]:
#Now, checking if the all the WaitingDays are 0 or more because if they are less than zero it means that the Appointment Day was before the Scheduled Day

data[data['WaitingDays']<0]

Empty DataFrame
Columns: [PatientID, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hypertension, Diabetes, Alcoholism, Handicap, SMSReceived, NoShow, ScheduledDayoftheWeek, AppointmentDayoftheWeek, WaitingDays]
Index: []

In [85]:
#Since there are 5 rows with WaitingDays less than 0, we can get rid of the day as the data makes no sense

data=data[data['WaitingDays']>=0]

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110522 entries, 0 to 110526
Data columns (total 17 columns):
PatientID                  110522 non-null int64
AppointmentID              110522 non-null int64
Gender                     110522 non-null object
ScheduledDay               110522 non-null datetime64[ns]
AppointmentDay             110522 non-null datetime64[ns]
Age                        110522 non-null int64
Neighbourhood              110522 non-null object
Scholarship                110522 non-null int64
Hypertension               110522 non-null int64
Diabetes                   110522 non-null int64
Alcoholism                 110522 non-null int64
Handicap                   110522 non-null int64
SMSReceived                110522 non-null int64
NoShow                     110522 non-null object
ScheduledDayoftheWeek      110522 non-null object
AppointmentDayoftheWeek    110522 non-null object
WaitingDays                110522 non-null int64
dtypes: datetime64[ns](2), int64(10), object(5)
memory usage: 15.2+ MB

In [90]:
#Counting the number of NoShows in the dataset

print('Number of people that showed up and did not show up for the appointment')
print(data.groupby(['NoShow']).size())

Number of people that showed up and did not show up for the appointment
NoShow
No     88208
Yes    22314
dtype: int64

In [95]:
print('% of patients that Showed up for the Appointment : ',((data.groupby(['NoShow']).size()[0])/(data.groupby(['NoShow']).size()[0]+data.groupby(['NoShow']).size()[1]))*100)

print('% of patients that did not Show up for the Appointment : ',((data.groupby(['NoShow']).size()[1])/(data.groupby(['NoShow']).size()[0]+data.groupby(['NoShow']).size()[1]))*100)

% of patients that Showed up for the Appointment :  79.81035449955665
% of patients that did not Show up for the Appointment :  20.18964550044335

In [96]:
#The above calculation shows that almost 80% of patients turned up for the appointment and 20% of them did not.

In [98]:
# Converting the NoShow values to 1 and 0 so that they can be added to find the total number of shows or no-shows

def show_noshow(data):
    No_Show=[]
    for row in data['NoShow']:
        if row == 'Yes':
            No_Show.append(1)
        else:
            No_Show.append(0)
    data['No-Show']=No_Show
    return data

In [100]:
show_noshow(data)

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,ScheduledDayoftheWeek,AppointmentDayoftheWeek,WaitingDays,No-Show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,Friday,0,0
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,Friday,0,0
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,Friday,0,0
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,Friday,0,0
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,Friday,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No,Tuesday,Tuesday,35,0
110523,3596266328735,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No,Tuesday,Tuesday,35,0
110524,15576631729893,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,41,0
110525,92134931435557,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,41,0
110526,377511518121127,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,41,0

In [102]:
data['TotalAppointments']=1

In [104]:
# Creating an "Age Group" column to group various age values in the dataset

def ageGroup(data):
    AgeGroup=[]
    for row in data['Age']:
        if row >= 0 and row < 2:
            AgeGroup.append('00 to 01')
        elif row >= 2 and row < 19:
            AgeGroup.append('02 to 18')
        elif row >= 19 and row < 40:
            AgeGroup.append('19 to 39')
        elif row >= 40 and row < 60:
            AgeGroup.append('40 to 59')
        elif row >= 60 and row < 70:
            AgeGroup.append('60 to 69')
        elif row >= 70 and row < 80:
            AgeGroup.append('70 to 79')
        elif row >= 80:
            AgeGroup.append('80+')
        else:
            AgeGroup.append('Other')
        
    data['AgeGroup']=AgeGroup
    return data

In [106]:
ageGroup(data)

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,ScheduledDayoftheWeek,AppointmentDayoftheWeek,WaitingDays,No-Show,TotalAppointments,AgeGroup
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,Friday,0,0,1,60 to 69
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,Friday,0,0,1,40 to 59
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,Friday,0,0,1,60 to 69
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,Friday,0,0,1,02 to 18
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,Friday,0,0,1,40 to 59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No,Tuesday,Tuesday,35,0,1,40 to 59
110523,3596266328735,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No,Tuesday,Tuesday,35,0,1,40 to 59
110524,15576631729893,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,41,0,1,19 to 39
110525,92134931435557,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,41,0,1,19 to 39
110526,377511518121127,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No,Wednesday,Tuesday,41,0,1,40 to 59

In [107]:
data.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,ScheduledDayoftheWeek,AppointmentDayoftheWeek,WaitingDays,No-Show,TotalAppointments,AgeGroup
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,Friday,0,0,1,60 to 69
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,Friday,0,0,1,40 to 59
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,Friday,0,0,1,60 to 69
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,Friday,0,0,1,02 to 18
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,Friday,0,0,1,40 to 59